/* use font family from Google Fonts */

body {
    font-family: 'Inter', monospace;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background-color: #1f2937;
}


nav a {
    text-decoration: none;
    color: white;
}

nav .nav-links {
    display: flex;
    gap: 10px;
}

.hero-container {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.hero-text h1 {
    font-weight: bold;
    color: white;
}

.hero-text p {
    color: #9c9c9c;
}

.hero-text button {
    background-color: #3b82f6;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-family: 'Inter';
    font-weight: 700;
}

.hero-image img {
    border-radius: 10px;
}


/* feature */
.feature-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.card img {
    border-radius: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 16px;
}

.quote-container .quotes {
    font-size: 2rem;
    color: #9c9c9c;
    text-align: center;
}

.quote-container .author {
    text-align: right;
}