/* use font family from Google Fonts */



body {
    font-family: 'Inter', monospace;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 13em;
    background-color: #1f2937;
}

nav .logo {
    font-weight: bold;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .nav-links {
    display: flex;
    gap: 3em;
}

.hero-container {
    background-color: #1f2937;
    padding: 3em 13em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.hero-text h1 {
    font-weight: bold;
    color: white;
}

.hero-text p {
    color: #9c9c9c;
}

.hero-text button {
    background-color: #3b82f6;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-family: 'Inter';
    font-weight: 700;
}

.hero-image img {
    border-radius: 10px;
}


/* feature */
.feature-container {
    padding: 3em 13em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.card img {
    border-radius: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 3em 13em;
}

.quote-container .quotes {
    font-size: 2rem;
    color: #9c9c9c;
    font-style: italic;
}

.quote-container .author {
    text-align: right;
    padding-right: 50px;
    font-weight: bold;
}

.cta-container {
    padding: 3em 13em;
}

.cta-background {
    height: 200px;
    background-color: #3b82f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.cta-background p {
    color: #dcdcdc;
}

.cta-button button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 700;
}

/* footer */
footer {
    padding: 2em 13em;
    text-align: center;
    background-color: #1f2937;
    color: white;
}